@import "../setup/variables";

* {
	box-sizing: border-box;
}

html {
	font-family: OpenSans, sans-serif;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

h1 {
	font-family: Fascinate, sans-serif;
}

a {
	text-decoration: none;
	color: $clr2;
	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 1000px) {
	.section {
		flex-direction: column;
		align-items: center;
		.section-title {
			align-self: flex-start;
			text-align: left;
			font-size: 2rem;
		}
	}
}
@media only screen and (max-width: 700px) {
	.section {
		padding: 50px 20px;
	}
}
